﻿<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Staff/Index/" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Staffs</span>
                </a>
            </li>
            <li>
                <a href="/Testimonial/Index/" aria-expanded="false">
                    <i class="icon-lock menu-icon"></i><span class="nav-text">Testimonials</span>
                </a>
            </li>
            <li>
                <a href="/Service/Index/" aria-expanded="false">
                    <i class="icon-clock menu-icon"></i><span class="nav-text">Services</span>
                </a>
            </li>
            <li>
                <a href="/Admin/AdminAbout/Index/" aria-expanded="false">
                    <i class="icon-info menu-icon"></i><span class="nav-text">About Us</span>
                </a>
            </li>
            <li>
                <a href="/Admin/AdminRoom/Index/" aria-expanded="false">
                    <i class="icon-home menu-icon"></i><span class="nav-text">Rooms</span>
                </a>
            </li>
            <li>
                <a href="/Guest/Index/" aria-expanded="false">
                    <i class="icon-people menu-icon"></i><span class="nav-text">Guests</span>
                </a>
            </li>
            <li>
                <a href="/Admin/AdminContact/Inbox/" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i><span class="nav-text">Messages</span>
                </a>
            </li>
            <li>
                <a href="/Admin/AdminContact/Inbox/" aria-expanded="false">
                    <i class="icon-card menu-icon"></i><span class="nav-text">Mails</span>
                </a>
            </li>
            <li>
                <a href="/Admin/AdminContact/Inbox/" aria-expanded="false">
                    <i class="icon-card menu-icon"></i><span class="nav-text">Mails</span>
                </a>
            </li>
            <li>
                <a href="/Admin/AdminFileImage/Inbox/" aria-expanded="false">
                    <i class="icon-energy menu-icon"></i><span class="nav-text">Images</span>
                </a>
            </li>
            <li>
                <a href="/Admin/AdminFile/Inbox/" aria-expanded="false">
                    <i class="icon-film menu-icon"></i><span class="nav-text">Files</span>
                </a>
            </li>
            <li>
                <a href="/Admin/AdminUsers/Inbox/" aria-expanded="false">
                    <i class="icon-user-follow menu-icon"></i><span class="nav-text">Users</span>
                </a>
            </li>
        </ul>
    </div>
</div>