@model AddTestimonialViewModel

@{
    ViewData["Title"] = "AddTestimonial";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <label>Testimonial Name</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Testimonial Title</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Testimonial Description</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />
    <label>Testimonial Image</label>
    <input type="text" asp-for="Image" class="form-control" />
    <br />
    <button class="btn btn-primary">Add Testimonial</button>
</form>

